DATABASE_URL=postgresql+asyncpg://techstore_user:techstore_pass@localhost:5432/techstore_db
SECRET_KEY=cambiar-esta-clave-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=["http://localhost:5173"]
APP_NAME=TechStore API
DEBUG=true
MERCADOPAGO_ACCESS_TOKEN=TEST-xxxxxxxxxxxx
MERCADOPAGO_WEBHOOK_SECRET=
